

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --letra-principal: 'Libre Franklin', sans-serif;
    --gray:  hsl(0, 0%, 59%);
    --pay-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --very-dark-blue:  hsl(209, 33%, 12%);
    --blue:  hsl(223, 87%, 63%);
}

html{
    position: relative;
    min-height: 100%;
}
.container{
    display: grid;
    place-items: center;
    position: relative;
}

.ping{
    position: relative;
    display: flex;
    justify-content: center;
    width: 80em;
    height: 12em;
    left: 0.5%;
    right: 0.5%;
}

.ping img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}
.cuadro_titulo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.titulo{
    position: absolute;
    top: -150%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.titulo h2{

    font-size: 40px;
    font-weight: 300;
    color: var(--gray);
    font-family: var(--letra-principal);
}

#sombra{
    color: black;
    font-weight: 700;
}

p{
    text-align: center;
    margin-top: -15px;
    font-size: 20px;
    color: var(--gray);
}

.formulario{
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.input_group{
    position: relative;
    top: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 80px;
    max-width: 100%;
}

.input_text{
    width: 50%;
    padding: 10px;
    height: 50px;
}


#email{
    width: 125%;
    border-radius: 20px;
    border: 1px solid var(--pay-blue);
    font-size: 12px;
    height: 45px;
    outline: 0;
    padding:0 20px;
    color: var(--very-dark-blue);
    font-weight: 700;
    margin-right: 80px;
    margin-left: -10px;
}

#email::placeholder{
    color: var(--pay-blue);
    font-size: 14px;
    font-weight: 300;
}

#mensaje{

    padding-left: 10px;
    text-align: left;
    margin-top: 10px;
    display: none;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-family: var(--letra-principal);
}

.boton_notify{
    width: 30%;
    padding: 10px;
}

#notify{
    width: 100%;
    padding: 0 20px;
    border-radius: 20px;
    background: var(--blue);
    color: white;
    height: 45px;
    border: none;
    outline: 0;
    box-shadow:  -2px 4px 2px 1px  var(--pay-blue);
    font-family: var(--letra-principal);
    cursor: pointer;
}

.image_square{
    position: absolute;
    top: 300%;
    justify-content: center;
    display: flex;
    align-items: center;
    
    max-width: 80%;

}

img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

footer{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 350%;
    display: flex;
    flex-direction: column;
}

.cuadro_iconos{
    top: 20%;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px;
   flex-direction: row;
   position: relative;

}

#icon_fb{
    background: white;
    border: 1px solid var(--pay-blue);
    border-radius: 20px;
    color: blue;
    padding: 6px;
    cursor: pointer;
}

#icon_fb:hover{
    background-color: var(--blue);
    color: white;
}

#icon_tw{
    background: white;
    color: var(--blue);
    border-radius: 20px;
    padding: 6px;
    border: 1px solid var(--pay-blue);
    cursor: pointer;
}

#icon_tw:hover, #icon_ig:hover{
    background-color: var(--blue);
    color: white;
}


#icon_ig{
    background: white;
    color: var(--blue);
    border-radius: 20px;
    padding: 6px;
    border: 1px solid var(--pay-blue);
    cursor: pointer;
}

#parrafo_final{
    position: relative;
    top: 80%;
    font-size: 14px;
    font-weight: 200;
}

.attribution{
    position: relative;
    top: 100%;
    padding-bottom: 20px;
    font-size: 11px; text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1024px) and (min-width: 769px){
    footer{
        height: 40%;
        width: 100%;
        position: absolute;
        top: 350%;
        left: 14%;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 969px) and (min-width:476px){
    .ping{
        top: 0;
        position: relative;
        min-width: 100%;
        left: 0.5%;
        right: 0.5%;
    }
    .image_square{
        position: absolute;
        justify-content: center;
        display: flex;
        align-items: center;
        max-height: 80%;
        max-width: 50%;
        top: 600%;
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    footer{
        height: 40%;
        width: 80em;
        position: absolute;
        top: 350%;
        left: 4%;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 475px){
    .ping{
        display: none;
    }
    .cuadro_titulo{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .titulo{
        position: absolute;
        top: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .titulo h2{
        font-size: 30px;
        font-weight: 300;

        color: var(--gray);
        font-family: var(--letra-principal);
    }

    p{
        text-align: center;
        margin-top: 7px;
        font-size: 20px;
        color: var(--gray);
    }

    
    .input_group{
        position: relative;
        top: 135%;
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: 100%;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .input_text{
        position: relative;
        left: 3%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        right: 20%;
        padding: 10px;
        height: 50px;
        margin-left: -22px;

    }
    
    
    #email{
        width: 100%;
        border-radius: 20px;
        border: 1px solid var(--pay-blue);
        font-size: 12px;
        height: 50px;
        outline: 0;
        padding:0 20px;
        color: var(--very-dark-blue);
        font-weight: 700;

    }

    .boton_notify{
        position: relative;
        left: -3%;
        min-width: 110%;
        padding: 10px;
        margin-top: -78px;
    }

    #mensaje{
        text-align: center;
        margin-bottom: -20px;
        padding-bottom: 10px;
        display: none;
        color: red;
        font-style: italic;
        font-size: 12px;
        font-family: var(--letra-principal);
    }
    
    #notify{
        width: 100%;
        padding: 0 20px;
        border-radius: 20px;
        background: var(--blue);
        color: white;
        height: 45px;
        border: none;
        outline: 0;
        box-shadow:  -2px 4px 2px 1px  var(--pay-blue);
        font-family: var(--letra-principal);
        cursor: pointer;
        margin-left: -22px;
    }

    .image_square{
        position: absolute;
        justify-content: center;
        display: flex;
        align-items: center;
        max-height: 100%;
        max-width: 90%;
        top: 300%;
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    footer{
        height: 100px;
        width: 100%;
        position: absolute;
        top: 500%;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }

    #parrafo_final{
        position: relative;
        top: 70%;
        font-size: 14px;
        font-weight: 200;
    }

}